.clear {clear: both}

body {
  background-color: #FAFAFA;
  min-width: 960px;
}

#owl-demo {
  padding-top: 30px;
  width: 800px;
  margin: 0 auto;
  display: block;
  padding-bottom: 30px
}

.owl-prev {
  position: absolute;
  left: -100px;
  top: 193px;
}

.owl-next {
  position: absolute;
  right: -100px;
  top: 193px;
}

.home-page-slider {
  img {max-height: 450px; margin-left:0.5%; max-width:99%; float: left;}
  .price {float: left; display:inline-block; margin-right: 20px; font-size: 23px;}
  .quantity-input {width: 70px; padding: 4px 10px;}
}

.pagination {
  text-align: center
}

.reviews {
  margin-top: 50px;
  padding-left: 14px;
}

.reviews .add-review-lnk {
  margin-top: 30px;
}

.rating_label {
  float: left; padding-right: 10px
}

.rating_comment {
  padding-bottom: 20px
}

.comment_title {
  padding-left: 10px
}

.comment_date {
  font-style: italic;
  color: grey;
  padding-left: 6px;
}

.comment_moderation {
  color: red;
  font-style: bold;
}

.comment-item {
  background-color: #F2F2F2;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px
}

.rating {float: left}
#id_comment {display: none;}

.mb12 {margin-bottom: 12px !important;}

.cart-lnk {
  margin-left: 50px;
}

.glyphicon-shopping-cart {
  margin-right: 4px;
}

.checkout .radio {
    padding: 0 0 6px 50px;
}
.radio, .checkbox {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.multi-languages {
  height: 100%
}

.multi-languages a {
  height: 20px;
  padding: 5px 8px !important;
}

.multi-languages a:hover {
  text-decoration: underline !important;
}

li a {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.media {margin-top: 5px !important;}
.media hr {
  margin: 0;
  border-width: 3px 0 0 !important;
  margin-bottom: 5px;
}