// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.underlined-h2 {
  border-bottom: 2px solid #ccc;
}

.underlined-h2.add-margin-bot {
  margin-bottom: 57px;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

h1 { padding-bottom: 20px; }
#shipping_address {display: none}

.button_to {
    display: block; width: 200px; float: left
}

#remove_accaunt_checkbox {
    float: left;
    margin: 10px 8px 0 10px;
}

#em_delete {
    display: block;
    padding-top: 7px;
}

.error {
    border: 1px solid red !important;
}

.error_message {
    color: red;
    font-style: italic;
}

.checkit {margin-bottom: 10px !important}